# Add your third-party Python libraries here

arrow==1.2.3
beautifulsoup4==4.11.1
geographiclib==1.52
geopandas==1.16
matplotlib==3.6.3
pandas==1.5.3
pyarrow==11.0.0
requests==2.28.2
SQLAlchemy==2.0.7
numpy
scipy
folium
requests
urllib
itertools